//
// Your Custom Styles //

@media (min-width: 768px) {
	.listen-clients-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		overflow: visible;
	}

	.listen-clients-grid li {
		float: none;
	}
}
//